* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.abtNavBar {
  display: none;
}

.navbar {
  display: none;
}

.compaign {
  display: none;
}

.topLogo {
  display: none;
}

.abtMenu {
  display: none;
}

.menu-cross {
  color: #ec5242;
  font-size: 23px;
  position: fixed;
  top: 2%;
  left: 10%;
}

.about {
  display: flex;
  flex-direction: column;
  margin-top: 77px;
  padding: 25px 10px 0 10px;
  font-family: 'cocogoose', sans-serif;
}

.contact {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-top: 40px;
  line-height: 26px;
  text-align: center;
  margin-top: 48px;
}

.abtCard {
  background-image: url(images/header.png);
  background-repeat: no-repeat;
  overflow: hidden;
  width: 101%;
}

.abtTitle {
  font-family: 'cocogoose', sans-serif;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 200;
  line-height: 32px;
  color: #ec5242;
  text-align: center;
  margin: 0 -1px;
}

.abtTitleLogo {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 19px;
}

.line2 {
  display: flex;
  justify-content: center;
  width: 25px;
  border-color: #ec5242;
}

.sectionline {
  width: 100%;
  margin: 39px 0;
  color: #d3d3d3;
}

.pastEvents {
  font-family: 'lato', sans-serif;
}

.pastEventsLine {
  width: 20px;
  border-color: #ec5242;
}

.pastEventsText {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

.pastImage {
  color: white;
  background-image: url(images/conference1.jpg);
  min-height: 195px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 40%;
  height: auto;
  position: relative;
  margin-top: 40px;
  box-shadow: inset 0 0 0 2000px rgba(255, 0, 0, 0.438);
  text-align: center;
  padding-top: 24px;
}

.pastImage1 {
  color: white;
  background-image: url(images/conference2.jpg);
  min-height: 195px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 40%;
  height: auto;
  position: relative;
  margin-top: 40px;
  box-shadow: inset 0 0 0 2000px rgba(255, 0, 0, 0.438);
  text-align: center;
  padding-top: 24px;
}

.abttext {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: darkgray;
}

.hirLogo {
  width: 27%;
  height: auto;
  margin-left: 45px;
  margin-top: 7px;
  margin-bottom: 79px;
}

.abtdate {
  font-size: xx-small;
  margin-top: -56px;
  padding-left: -9px;
  margin-left: -24px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.abtline2 {
  width: 20px;
  border-color: #ec5242;
  margin-top: -19px;
  margin-bottom: 30px;
}

.smalldate {
  padding: 5px;
}

.container4 {
  display: flex;
  flex-direction: column;
  background-color: #272a31;
  text-align: center;
  margin-top: 39px;
  padding-bottom: 10px;
  width: 100%;
}

.abtpartnersList {
  justify-content: center;
  font-family: 'lato', sans-serif;
  color: #d3d3d3;
  font-size: 20px;
}

.abtpartnerText {
  font-size: 20px;
  justify-content: center;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.abtHello {
  color: #ec5242;
  margin-bottom: 3px;
  text-align: center;
  line-height: 4px;
  font-family: 'lato', sans-serif;
}

.abtMainText {
  font-family: 'lato', sans-serif;
  border: 4px solid #fff;
  margin: 21px 0 -27px 0;
  background-color: #fff;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.contactEmail {
  font-size: 13px;
  display: flex;
  font-weight: 600;
  line-height: 1px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  border-bottom: 1px solid;
  padding-left: 1px;
  width: 140px;
  padding-bottom: 5px;
  margin-left: 60px;
  justify-items: center;
}

.eventlogo {
  margin-left: 1%;
  width: 104px;
  height: auto;
}

.logoCredit2 {
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  padding-top: 31px;
  padding-bottom: -28px;
  margin: 20px 2px 6px 7px;
  gap: 10px;
  border: 1px solid #d3d3d3;
}

.abtfooter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(211, 211, 211);
  font-family: Lato, sans-serif;
  width: 100%;
  margin-top: 81px;
  font-size: 10px;
  background-color: rgb(39, 42, 49);
  gap: 13px;
}

.logoCredit {
  margin-top: 120px;
}

.sideBar a {
  margin-top: 40px;
  margin-left: 40px;
  display: block;
  color: #000;
}

.mobileMenu {
  position: fixed;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: rgb(147, 192, 135);
  backdrop-filter: blur(5px);
  transition: left 0.5s ease;
}

@media screen and (min-width: 992px) {
  body {
    margin: 0;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #272a31;
    color: white;
    padding: 5px 20px 5px 0;
  }

  .abtMenu {
    display: block;
    display: flex;
    font-size: 17px;
    flex-direction: row;
    justify-content: flex-end;
    justify-items: flex-start;
    gap: 28px;
    list-style: none;
    margin-top: -41px;
    text-decoration: none;
    background-color: white;
    padding: 18px 24px 22px 39px;
  }

  .abtMenu li a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
  }

  .navbarlist > li {
    display: inline-flex;
    padding: 8px 19px 8px 0;
    flex-direction: row;
  }

  .menucontainer1 {
    list-style: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: -1px 0;
  }

  .abtTitle {
    font-family: 'COCOGOOSE', sans-serif;
    padding: 20px 0;
    font-size: 4.5em;
    font-weight: 900;
    line-height: 76px;
    text-align: center;
  }

  .abtMainText {
    font-family: 'lato', sans-serif;
    padding: 20px;
    border: 4px solid #fff;
    margin: 49px 110px -27px 110px;
    background-color: #fff;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }

  .abtHello {
    display: none;
  }

  .contactEmail {
    font-size: 13px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    line-height: 1px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    border-bottom: 1px solid;
    padding: 0 6% 0 6%;
    width: 0;
    padding-bottom: 5px;
    margin: 0 44% 0 44%;
    justify-items: center;
  }

  .abtTitleLogo {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    padding-top: 6%;
  }

  .hirLogo {
    width: 32%;
    height: auto;
    margin-left: 45px;
    margin-top: 14px;
    margin-bottom: 32px;
  }

  .logoCredit2 {
    display: flex;
    width: 33%;
    justify-content: center;
    padding: 0 -9% 0 3%;
    padding-bottom: -28px;
    margin: 1% -5% 1% 36%;
    gap: 24px;
    border: 1px solid #d3d3d3;
  }

  .pastEvents {
    font-family: 'lato', sans-serif;
    text-align: center;
  }

  .pastEventImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 54px;
  }

  .container4 {
    display: none;
  }

  .abtfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3d3d3;
    font-family: 'Lato', sans-serif;
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 10px;
    background-color: #272a31;
    gap: 13px;
  }

  .compaign {
    list-style: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: -1px 0;
  }

  .abtnavbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(39, 42, 49);
    color: white;
  }

  .abtnavbar li {
    list-style: none;
  }

  .toggleMenu {
    display: none;
  }

  .hircompaign {
    border: 7px solid #ec5242;
    display: table-cell;
    margin: 7px 10px 0 872px;
    text-align: center;
  }

  .abtNavBar1 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

  .closemenu {
    display: none;
  }

  .menu-cross {
    display: none;
  }
}
